<div class="container">
  <div class="header">
    <div class="left">
      <div class="soundcloud"></div>
    </div>
    <div class="center">
    <%# TODO GET USER SOMEHOW ELSE %>
      <h1>Welcome, <%= @user.fname %>!</h1>
    </div>
    <div class="right">
      <div class="weather"></div>
      <div class="location"></div>
    </div>
  </div>

  <div class="content">
    <div class="twitter">
      <div class="top">Trends</div>
      <div class="tweets">
        <div class="tweetset local">
          <h2>Local Trends</h2>
        </div>
        <div class="tweetset global">
          <h2>Global Trends</h2>
        </div>
      </div>
    </div>
    <div class="news">
      <div class="top">News</div>
      <div class="headlines"></div>
    </div>
    <div class="todos">
      <div class="top">Todo</div>
      <div class="form_and_button">
        <input placeholder="what needs doing?" type="text" name="todo[item]" id="todo_item">
        <input value="55" type="hidden" name="todo[user_id]" id="todo_user_id">
        <button class="submit_item">submit</button>
      </div>
      <ul class="items"></ul>
    </div>
  </div>
  <div class="footer">
    <a href="/signout" class="signout">Signout</a>
    <%# TODO TURN INTO AJAX CALL %>
    <%= form_for @user, method: :delete  do |f| %>
      <%= submit_tag("Delete Account") %>
    <% end %>
  </div>
</div>
