<div class="container">
  <div class="header">
    <div class="left">
      <div class="soundcloud"></div>
    </div>
    <div class="center">
      <div class="welcome">
        <h1></h1>
        <input id="edit_name">
      </div>
    </div>
    <div class="right">
      <div class="weather"></div>
      <div class="location"></div>
    </div>
  </div>
  <div class="content">
    <div class="twitter">
      <div class="top">Trends</div>
      <div class="tweets">
        <div class="tweetset local">
          <h2>Local Trends</h2>
          <div class="trendlist"></div>
        </div>
        <div class="tweetset global">
          <h2>Global Trends</h2>
          <div class="trendlist"></div>
        </div>
      </div>
    </div>
    <div class="news">
      <div class="top">News</div>
      <div class="headlines"></div>
    </div>
    <div class="todos">
      <div class="top">Todo</div>
      <div class="form_and_button">
        <input placeholder="what needs doing?" type="text" name="todo[item]" id="todo_item">
        <input value="" type="hidden" name="todo[user_id]" id="todo_user_id">
        <button class="submit_item">submit</button>
      </div>
      <ul class="items"></ul>
    </div>
  </div>
  <div class="footer">
    <img src="/logo.png">
    <img src="/settings.png" class="settings_button">
    <div class="soc">
      <div><a class="soc-twitter" href="https://twitter.com/intent/tweet?text=I start my day with TodayDash at http://www.todaydash.com&via=today_dash" target="_blank"></a></div>
      <div><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.todaydash.com&title=todaydash" target="_blank"></a></div>
      <div><a class="soc-email1 soc-icon-last" href="mailto:?subject=Today Dash&amp;body=Check out this awesome personal dashboard!http://www.todaydash.com." target="_blank"></a></div>
    </div>
    <div class="settings">
      <div><a href="/signout" class="signout"><input type="submit" value="Signout"></input></a></div>
      <form class="edit_user" id="" action="" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="delete">
        <a><input type="submit" name="commit" value="Delete Account" data-disable-with="Delete Account"></a>
      </form>
    </div>
  </div>
</div>
