// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #FAFAFA;
$primary-color: rgba(60,60,60,0.5);
$secondary-color: #02C1DC;
$tertiary-color: #FFAE00;
$quarternary-color: #FF1300;
$font-color: #eee;
$font-hover: #888;
$minor-padding: 10px;
$desktop: 1200px;

body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background-color: $background-color;
  background-image: image-url("ocean.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: $font-color;
  // standardizing links across the page
  a {
    text-decoration: none;
    color: $font-color;
    cursor: pointer;
    &:hover {
      color: $font-hover;
    }
  }
}

.container {
  @extend body;
  background: none;
}

.header {
  width: calc(100% - 2 * $minor-padding);
  height: 20vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0px $minor-padding;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .left {
    flex: 1 0 20%;
    box-sizing: border-box;
    padding-left: 10px;
     .soundcloud {
      iframe {
        height: 110px;
        width: 275px;
        margin-top: -5px;
      }
    }
  }
  .right {
    box-sizing: border-box;
    flex: 1 0 20%;
    text-align: right;
    padding-right: 10px;
    position: relative;
    div {
      font-size: 2.5em;
      margin-top: -20px;
    }
    img {
      width: 70px;
      height: auto;
    }
  }
  .center {
    flex: 1 0 60%;
    text-align: center;
  }
}

.content {
  @extend .header;
  height: 70vh;
  & > div {
    height: 90px;
    overflow: hidden;
    position: relative;
    top: 75%;
    transition: top 400ms, height 400ms;
  }
  div {
    flex: 1 1 30%;
    padding: $minor-padding;
    padding-top: 3 * $minor-padding;
    box-sizing: border-box;
  }

  .top {
    font-size: 2em;
    font-weight: 600;
    color: $secondary-color;
    text-align: center;
    padding: 0.5 * $minor-padding;
    margin-top: 2 * $minor-padding;
    &:hover {
      cursor: pointer;
    }
  }

  .twitter {
    .tweets, .top, .tweet {
      padding: 0.5 * $minor-padding;
    }
    .tweets {
      position: relative;
      // some funky CSS to make a flippable "card"
      transform-style: preserve-3d;
      transition: 400ms transform;
      height: 100%;
      background-color: $primary-color;
      .tweetset {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        word-wrap: break-word;
        // some funky CSS to make a flippable "card"
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        h2 {
          color: $secondary-color;
          text-align: center;
          margin: 0.5 * $minor-padding;
          font-size: 1.2em;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .local {
        transform: rotateY(180deg) translateZ(1px);
      }
    }
  }

  .news {
    overflow: hidden;
    .headlines {
      // needs fixed height for overflow:scroll to work
      height: 90%;
      overflow: scroll;
      padding-top: 0;
      background-color: $primary-color;
    }
    .top {
      color: $tertiary-color;
    }
  }

  .todos {
    .top {
      color: $quarternary-color;
    }
    .form_and_button {
      // added wrapper for better spacing
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background-color: $primary-color;
      .new_todo {
        flex: 0 1 70%;
        .form-group {
          padding: 0 15px;
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      .submit_item {
        flex: 1 0 30%;
      }
    }
    .items {
      //stripping out the default ul and li styling
      list-style-type: none;
      padding-top: $minor-padding;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      background-color: $primary-color;
      height: 100%;
      .todo {
        position: relative;
        &:nth-child(even) {
          background-color: $primary-color;
        }
        .completed {
          text-decoration: line-through;
        }
        .delete_todo {
          float: right;
        }
        span {
          padding: 0px 3px;
          width: auto;
          height: auto;
          position: absolute;
          left: 20px;
        }
      }
    }
  }
}


.footer {
  @extend .header;
  height: 10vh;
  a {
    text-align: center;
    margin: 0 auto;
    padding: calc(5vh - 1em) 0;
  }
}

// toggle-able class for tweetset divs
.rotate {
  transform: rotateY(180deg);
}

.content > div.expand {
  height: 100%;
  top: 0;
}

.hideplayer {
visibility: hidden;
}

@media only screen and (min-width: $desktop) {
  .container {
    max-width: $desktop;
  }
}
