// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #FAFAFA;
$primary-color: rgba(60,60,60,0.5);
$secondary-color: #02C1DC;
$tertiary-color: #FFAE00;
$quarternary-color: #FF1300;
$font-color: #eee;
$font-hover: #888;
$minor-padding: 10px;
$desktop: 1200px;
$mobile: 550px;

$main-font: 'Quattrocento Sans';
$header-font: 'Vollkorn';


.weather {
  text-shadow: 0px 0px 8px #222;
}

.location {
  text-shadow: 0px 0px 8px #222;
}

.welcome {
  text-shadow: 0px 0px 8px #222;
}

#edit_name {
  text-shadow: 0px 0px 8px #222;
}

.login_container {
  height: 100px;
  width: 260px;
  margin-top: calc(30vh - 50px);
  margin-left: calc(50vw - 130px);
  text-shadow: 0px 0px 15px #222;
}

.login {
  font-family: $main-font;
  font-size: 20px;
  text-align: left;
  text-shadow: 0px 0px 15px #222;
}

.action {

}

.user_email_input {
  float:right;
}

.login_password_input {
  float:right;
}

.new_user_container {
  height: 100px;
  width: 260px;
  margin-top: 20vh;
  margin-left: calc(50vw - 130px);
  text-shadow: 0px 0px 15px #222;
}


.new_user{
  font-family: $main-font;
  font-size: 20px;
  text-align: left;
  text-shadow: 0px 0px 15px #222;

}

.fname_input {
  float:right;
}

.lname_input {
  float:right;
}

.email_input {
  float:right;
}

.password_input {
  float:right;
}


body {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: $main-font, sans-serif;
  background-color: $background-color;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: $font-color;
  // standardizing links across the page
  a {
    text-decoration: none;
    color: $font-color;
    cursor: pointer;
    &:hover {
      color: $font-hover;
    }
  }
}

.container {
  @extend body;
  background: none;
}

.header {
  width: calc(100% - 2 * $minor-padding);
  height: 20vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0px $minor-padding;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .left {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding-left: 10px;
     .soundcloud {
      margin-top: 2 * $minor-padding;
      display: flex;
      iframe {
        flex: 0 0 20px;
        height: 20px;
        width: 20px;
      }
      .title_wrapper {
        padding-left: 3px;
        flex: 0 1 100%;
        width: calc(100% - 10px);
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: clip;
        .song_title {
          display: inline-block;
          transition: margin-left 6s linear;
          margin-left: 0;
          &:hover {
            margin-left: -350px;
          }
        }
      }
    }
  }
  .right {
    box-sizing: border-box;
    flex: 1 0 20%;
    text-align: right;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    & > div {
      flex: 0 1;
    }
    .weather  {
      text-align: right;
      margin-top: 2 * $minor-padding;
      font-size: 1.5em;
    }
    .location {
      text-align: right;
    }
  }
  .center {
    flex: 1 0 60%;
    text-align: center;
    font-family: $header-font, serif;
    width: 100%;
    .welcome {
      margin: 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-top: $minor-padding * 2;
      input {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 8px;
        font-size: 2rem;
        color: $font-color;
        font-family: $header-font, serif;
        font-weight: bold;
        text-align: left;
        &:focus {
          outline: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      h1 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        vertical-align: text-bottom;
        line-height: 2rem;
        text-align: right;
        display: table;
      }
      & > * {
        flex: 0 1;
        height: 2rem;
      }
    }
  }
}

.content {
  @extend .header;
  height: 70vh;
  & > div {
    height: 90px;
    overflow: hidden;
    position: relative;
    top: 75%;
    transition: top 400ms, height 400ms;
  }
  div {
    flex: 1 1 30%;
    padding: $minor-padding;
    padding-top: 3 * $minor-padding;
    box-sizing: border-box;
  }

  .top {
    font-size: 2em;
    font-weight: 600;
    font-family: $header-font, sans-serif;
    color: $secondary-color;
    text-align: center;
    padding: 0.5 * $minor-padding;
    margin-top: 2 * $minor-padding;
    transition: text-shadow 400ms;
    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 9px #222;
    }
  }

  .twitter {
    .tweets, .top, .tweet {
      padding: 0.5 * $minor-padding;
    }
    .tweets {
      position: relative;
      // some funky CSS to make a flippable "card"
      transform-style: preserve-3d;
      transition: 400ms transform;
      height: 100%;
      background-color: $primary-color;
      .tweetset {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        word-wrap: break-word;
        // some funky CSS to make a flippable "card"
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        h2 {
          color: $secondary-color;
          text-align: center;
          margin: 0.5 * $minor-padding;
          font-size: 1.2em;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .local {
        transform: rotateY(180deg) translateZ(1px);
      }
    }
  }

  .news {
    overflow: hidden;
    .headlines {
      // needs fixed height for overflow:scroll to work
      height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 0;
      background-color: $primary-color;
    }
    .top {
      color: $tertiary-color;
    }
  }

  .todos {
    .top {
      color: $quarternary-color;
    }
    .form_and_button {
      // added wrapper for better spacing
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background-color: $primary-color;
      #todo_item {
        flex: 0 1 70%;
        margin: 0px 15px;
      }
      .submit_item {
        flex: 1 0 20%;
      }
    }
    .items {
      //stripping out the default ul and li styling
      list-style-type: none;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      background-color: $primary-color;
      height: 100%;
      padding: $minor-padding;
      .todo {
        position: relative;
        &:nth-child(even) {
          background-color: $primary-color;
        }
        .completed {
          text-decoration: line-through;
        }
        .delete_todo {
          float: right;
        }
        span {
          padding: 0px 3px;
          width: auto;
          height: auto;
          position: absolute;
          left: 20px;
        }
      }
    }
  }
}


.footer {
  @extend .header;
  height: 10vh;
  position: relative;
  .settings {
    width: calc(100% - 20vh);
    height: 8vh;
    margin-top: 2vh;
    position: absolute;
    left: 10vh;
    background-color: $primary-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2vh;
    transition: 400ms transform linear;
    transform-origin: bottom center;
    transform: rotateX(-90deg);
    input {
      background: none;
      border: none;
      font-family: inherit;
      color: inherit;
      font-size: 1rem;
      cursor: pointer;
    }
    & > * {
      flex: 1 0 50%;
      text-align: center;
      height: 1rem;
    }
  }
  img {
    cursor: pointer;
    transition: transform 800ms, -webkit-filter 800ms;
    position: absolute;
    height: 6vh;
    width: auto;
    margin: 2vh;
    &:first-child:hover {
      transform: rotate(360deg);
      -webkit-filter: drop-shadow(0px 0px 5px $background-color);
    }
    &.settings_button {
      right: 0;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

// toggle-able class for tweetset divs
.rotate {
  transform: rotateY(180deg);
}

.content > div.expand {
  height: 100%;
  top: 0;
}

.hideplayer {
visibility: hidden;
}

.temp {
  font-family: $header-font;
  font-size: 2em;
}

.settings.flipup {
  transform: rotateX(0deg);
}

@media only screen and (min-width: $desktop) {
  .container {
    max-width: $desktop;
  }
}

@media only screen and (max-width: $mobile) {
  .container {
    .header {
      height: 15vh;
      .center {
        h1, input {
          font-size: 1.5rem;
          line-height: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    .content {
      height: 75vh;
      flex-direction: column;
      justify-content: center;
      & > div {
        flex: 0 1 65px;
        width: 100%;
        top: 0;
        transition: flex-basis 400ms;
        padding-top: $minor-padding * 0.5;
        &.expand {
          flex-basis: calc(100% - 150px);
        }
      }
    }
  }
  .temp {
    font-size: 1.5rem;
  }

}

@font-face {
    font-family: 'si';
    src: url('/font_buttons/socicon.eot');
    src: url('/font_buttons/socicon.eot?#iefix') format('embedded-opentype'),
         url('/font_buttons/socicon.woff') format('woff'),
         url('/font_buttons/socicon.ttf') format('truetype'),
         url('/font_buttons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(font_buttons/socicon.svg) format(svg);
    }
}
.soc {
    overflow:hidden;
    list-style:none;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: calc(5vh - 14px);
    top: calc(5vh - 14px);
    display: flex;
    flex-flow: row nowrap;
    width: 28px;
    height: 28px;
    margin-left: 0;
    justify-content: flex-end;
    transition: all 400ms;
    overflow: visible;
    &.showSoc {
      width: calc(84px);
      margin-left: 10vh;
      opacity: 1;
      z-index: 1;
    }
    & > div {
      overflow: visible;
      width: 28px;
      height: 28px;
      flex: 0 0 28px;
      a {
        font-family:si!important;
        font-style:normal;
        font-weight:400;
        box-sizing:border-box;
        transition: .1s transform;
        transform: translateZ(0);
        overflow:hidden;
        text-decoration:none;
        text-align:center;
        display:block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        line-height: 28px;
        font-size: 15px;
        border-radius: 6px;
        margin-right: 2px;
        color: #ffffff;
        background-color: none;
    }
  }
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.soc-icon-last{
    margin:0 !important;
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter::before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook::before {
    content:'b';
}
.soc-email1 {
    background-color: #578AD6;
}
.soc-email1::before {
    content:'<';
}
